:root{
    --color-primary-dark:#011C44;
    --color-primary-light:#2B7FFF;
    --color-light:#FFFFFF;
    --color-not-active:#747272;
    --color-description:#4A4A4A;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;