.footer{
    background-color: var(--color-primary-dark);
    background-image: url(../images/footer-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::after{

        @media screen and (min-width: $bp-desktop) {
            background-image: url(../images/footer-after.png);
            background-repeat: no-repeat;
            width: 247px;
            height: 152px;
            bottom: 0;
            right: 0;
            position: absolute;
            content: '';
        }
    }
    
    &__container{
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            padding: 56px 0;
            gap: 40px;
            align-items: flex-start;
        }
        
    }

    &__logo{
        flex-grow: 1;
    }

    &__nav{
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex-grow: 1;
        text-align: center;

        @media screen and (min-width: $bp-desktop) {
            text-align: left;
        }
    }

    &__links{
        color: var(--color-light);
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        transition: 0.3s;
    
        &:hover{
            color: var(--color-primary-light);
        }
    }

    &__address{
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__icons-container{
        display: flex;
        gap: 24px;
    }

    &__icons{
        fill: var(--color-light);
        transition: 0.3s;

        &:hover{
            fill: var(--color-primary-light);
        }
    }

    &__text-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        @media screen and (min-width: $bp-desktop) {
            align-items: flex-start;
        }
    }

    &__text{
        font-size: 16px;
        color: var(--color-light);
        margin-bottom: 0;
    }

    &__copyright{
        font-size: 13px;
        color: var(--color-not-active);
    }
}