.footer{
    background-color: var(--color-primary-dark);
    background-image: url(../images/footer-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::after{
        background-image: url(../images/footer-after.png);
        background-repeat: no-repeat;
        width: 247px;
        height: 152px;
        bottom: 0;
        right: 0;
        position: absolute;
        content: '';
    }
    
    &__container{
        padding: 56px 0;
        display: flex;
        gap: 20px;
        
    }

    &__logo{
        flex-grow: 1;
    }

    &__nav{
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex-grow: 1;
    }

    &__links{
        color: var(--color-light);
        font-size: 16px;
        cursor: pointer;
    
        &:hover{
            color: var(--color-primary-light);
        }
    }

    &__address{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__icons-container{
        display: flex;
        gap: 24px;
    }

    &__icons{
        fill: var(--color-light);

        &:hover{
            fill: var(--color-primary-light);
        }
    }

    &__text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        flex-grow: 1;
    }

    &__text{
        font-size: 16px;
        color: var(--color-light);
        margin-bottom: 0;
    }

    &__copyright{
        font-size: 13px;
        color: var(--color-not-active);
    }
}