.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @media screen and (min-width: $bp-desktop) {
        background: #FFFFFF40;
        backdrop-filter: blur(10px);
    }

    &__container{
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
    }
    
    &__nav{
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &__menu{
        display: none;
        
        @media screen and (min-width: $bp-desktop) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 56px;
                flex-grow: 1;
            }
    }

    &__contacts{
        display: none;
        
        @media screen and (min-width: $bp-desktop) {
             display: flex;
             align-items: center;
             flex-grow: 1;
             gap: 40px;
         }
    }

    &__icons{
        fill: var(--color-primary-dark);
        transition: 0.3s;

        &:hover{
            fill: var(--color-primary-light);
        }
    }

    &__mobile-btn {
        background-color: transparent;
        border: none;
        fill: var(--color-light);
        transition: 0.3s;

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }
}