.header{
    background: #FFFFFF40;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 106px;
;

    &__container{
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
    }
    
    &__nav{
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 56px;
        flex-grow: 1;
    }

    &__contacts{
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 40px;
    }

    &__icons{
        fill: var(--color-primary-dark);

        &:hover{
            fill: var(--color-primary-light);
        }
    }
}