.why-we-section{

    &__advantages-list{
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }

    &__advantages-item{
        background-color: var(--color-light);
        padding: 24px 32px;
        border-radius: 32px;
    }

    &__item-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__advantages-icon{
        align-self: center;
        fill: var(--color-primary-light);
    }

    &__advantages-text{
        text-align: center;
        max-width: 252px;
    }

}